<nz-page-header class="app-page-header">
  <nz-page-header-title>用户管理</nz-page-header-title>
</nz-page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="submitForm()">
    <div nz-row>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item [nzFlex]="true">
          <nz-form-label [style.width]="'auto'" [style.padding-right.px]="8">选择部门</nz-form-label>
          <nz-form-control [style.flex]="1">
            <nz-select formControlName="departmentId" nzAllowClear [nzLoading]="departmentLoading">
              <nz-option nzCustomContent *ngFor="let data of departments" [nzValue]="data.id" [nzLabel]="data.name">
                <span [style.margin-right.px]="1"
                  *ngFor="let _ of data.order.substr(data.orderTopSize, data.orderTopSize * 8).split('')">-</span>
                <span [style.margin-left.px]="2" [style.margin-right.px]="1"
                  *ngIf="data.order.length > data.orderTopSize * 9">...</span>
                <span [style.margin-left.px]="2">{{ data.name }}</span>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex="true">
          <nz-form-label [style.width]="'auto'" [style.padding-right.px]="8">关键字</nz-form-label>
          <nz-form-control [style.flex]="1">
            <input nz-input formControlName="search" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item [nzFlex]="true">
          <nz-form-control [style.flex]="1">
            <button type="submit" nz-button [nzType]="'primary'" [nzLoading]="loading">
              <i nz-icon nzType="search"></i>
              <span>查询</span>
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div [style.margin-top.px]="8" [style.margin-bottom.px]="8">
    <button nz-button nzType="primary" (click)="goAdd()">
      <i nz-icon nzType="plus"></i>
      <span>新建</span>
    </button>
    <button [style.margin-left.px]="8" nz-button nzType="danger" *ngIf="numberOfChecked > 0"
      (click)="showPasswordModal()">
      <i nz-icon nzType="key"></i>
      <span>重置密码</span>
    </button>
  </div>
  <div [style.margin-bottom.px]="8">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        <span>已选择</span>
        <strong [style.margin-left.px]="8" [style.margin-right.px]="8">{{ numberOfChecked }}</strong>
        <span>项</span>
        <a [style.margin-left.px]="8" *ngIf="numberOfChecked > 0" (click)="clearCheck()">清空</a>
      </ng-template>
    </nz-alert>
  </div>
  <nz-table nzSize="middle" nzShowPagination nzShowSizeChanger [nzShowTotal]="rangeTemplate" #basicTable
    [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>用户名</th>
        <th>姓名</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.username }}</td>
        <td>{{ data.name }}</td>
        <td>
          <nz-badge [nzStatus]="!!data.enable ? 'success' : 'error'" [nzText]="!!data.enable ? '启用' : '禁用'">
          </nz-badge>
        </td>
        <td>{{ data.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <a (click)="goInfo(data.id)">查看</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="goEdit(data.id)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="确认删除？" (nzOnConfirm)="goDelete(data.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #rangeTemplate let-range="range" let-total>
    <span>第 {{ range[0] }} - {{ range[1] }} 条、共 {{ total }} 条</span>
  </ng-template>
</nz-card>

<nz-modal [(nzVisible)]="isPasswordVisible" nzTitle="重置密码" (nzOnCancel)="handlePasswordCancel()"
  (nzOnOk)="handlePasswordOk()" [nzOkLoading]="passwordLoading" [nzClosable]="false">
  <form nz-form [formGroup]="passwordForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="password" nz-input formControlName="newPassword" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
