<nz-page-header (nzBack)="goBack()" nzBackIcon class="app-page-header">
  <nz-page-header-title>字典项管理</nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag *ngIf="!!dict" [nzColor]="'red'">{{ dict.name }}</nz-tag>
  </nz-page-header-tags>
</nz-page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="submitForm()">
    <div nz-row>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item [nzFlex]="true">
          <nz-form-label [style.width]="'auto'" [style.padding-right.px]="8">关键字</nz-form-label>
          <nz-form-control [style.flex]="1">
            <input nz-input formControlName="search" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <button type="submit" nz-button [nzType]="'primary'" [nzLoading]="loading">查询</button>
      </div>
    </div>
  </form>
  <div [style.margin-top.px]="8" [style.margin-bottom.px]="8">
    <button nz-button nzType="primary" (click)="goAdd()">
      <i nz-icon nzType="plus"></i>
      <span>新建</span>
    </button>
  </div>
  <div [style.margin-bottom.px]="8">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        <span>已选择</span>
        <strong [style.margin-left.px]="8" [style.margin-right.px]="8">{{ numberOfChecked }}</strong>
        <span>项</span>
        <a [style.margin-left.px]="8" *ngIf="numberOfChecked > 0" (click)="clearCheck()">清空</a>
      </ng-template>
    </nz-alert>
  </div>
  <nz-table nzSize="middle" nzShowPagination nzShowSizeChanger [nzShowTotal]="rangeTemplate" #basicTable
    [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>ID</th>
        <th>字典</th>
        <th>字典项</th>
        <th>代码</th>
        <th>排序</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.dict.name }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.order }}</td>
        <td>
          <nz-badge nzStatus="success" nzText="启用" *ngIf="!!data.enable"></nz-badge>
          <nz-badge nzStatus="error" nzText="禁用" *ngIf="!data.enable"></nz-badge>
        </td>
        <td>
          <a (click)="goInfo(data.id)">查看</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="goEdit(data.id)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="确认删除？" (nzOnConfirm)="goDelete(data.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #rangeTemplate let-range="range" let-total>
    <span>第 {{ range[0] }} - {{ range[1] }} 条、共 {{ total }} 条</span>
  </ng-template>
</nz-card>
