<nz-page-header (nzBack)="goBack()" nzBackIcon class="app-page-header">
  <nz-page-header-title>字典查看</nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag *ngIf="!!dictType" [nzColor]="'red'">{{ dictType.name }}</nz-tag>
  </nz-page-header-tags>
</nz-page-header>
<nz-card [nzBordered]="false">
  <nz-descriptions nzBordered *ngIf="!!dict">
    <nz-descriptions-item nzTitle="ID">{{ dict.id }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="名称">{{ dict.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="排序">{{ dict.order }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态">
      <nz-badge nzStatus="success" nzText="启用" *ngIf="!!dict.enable"></nz-badge>
      <nz-badge nzStatus="error" nzText="禁用" *ngIf="!dict.enable"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">
      <pre>{{ dict.note }}</pre>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
