<nz-page-header (nzBack)="goBack()" nzBackIcon class="app-page-header">
  <nz-page-header-title>添加字典项</nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag *ngIf="!!dict" [nzColor]="'red'">{{ dict.name }}</nz-tag>
  </nz-page-header-tags>
</nz-page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>ID</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="number" nz-input formControlName="id" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>代码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="code" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>排序</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="number" nz-input formControlName="order" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">状态</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch nzCheckedChildren="启用" nzUnCheckedChildren="禁用" formControlName="enable"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea rows="4" nz-input formControlName="note"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="keepOn">
          <span>保存之后继续添加下一条</span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [nzLoading]="loading">保存</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
