<nz-page-header (nzBack)="goBack()" nzBackIcon class="app-page-header">
  <nz-page-header-title>通知查看</nz-page-header-title>
</nz-page-header>
<nz-card [nzBordered]="false">
  <nz-descriptions nzBordered [nzColumn]="1" *ngIf="!!notice">
    <nz-descriptions-item nzTitle="标题">{{ notice.title }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="时间">
      <span>{{ notice.startTime | date: 'yyyy-MM-dd HH:mm' }}</span>
      <span [style.margin-left.px]="5" [style.margin-right.px]="5">-</span>
      <span>{{ notice.endTime | date: 'yyyy-MM-dd HH:mm' }}</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="内容">
      <ckeditor [editor]="Editor" [config]="editorConfig" [data]="notice.content" [disabled]="true"></ckeditor>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
